
h1 a {
    color: #3382E5;
    font-family: 'Baloo Paaji', cursive;
}

body {
    padding-left: 35px;
    padding-right: 35px;
}

/* tło pod tytułem strony - 'Django Girls Blog' */
.page-header {
    background-color: #3382E5;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

/* tytuł strony - 'Django Girls Blog' */
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 80px;
}

/* nagłówki wpisów na stronach postów*/
h1, h2, h3, h4 {
    font-family: 'Baloo Paaji', cursive;
    color: #3322D5;
}

/* data i godzina publikacji wpisu */
.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
    margin-right: 20px;
}

/* nagłówki wpisów na stronie głównej */
.post h1 a, .post h1 a:visited {
    color: #3322D5;
}


